<p>create-apartment works!</p>
<agm-map [zoom]="5.5" [latitude]="39.015137" [longitude]="34.979530" (mapClick)="onChoseLocation($event)">
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
</agm-map>
<form #createApartmentForm="ngForm" (ngSubmit)="createApartment(createApartmentForm)" >
    <div class="row">
        <div class="col-12">
          <label for="apartmentName">Apartment Name</label>
          <input ngModel #apartmentName="ngModel" name="apartmentName" type="text" class="form-control">
        </div>
      </div>
    
    <div class="col-13">
        <button class="btn btn-primary" type="submit">Create Apartment</button>
    </div>

    <p *ngIf="apartmentID">Apartment id: {{ apartmentID}}</p>

    <qrcode *ngIf="apartmentQR" [qrdata]="apartmentQR" [size]="256" [level]="'M'"></qrcode> 

</form>


